version: "3.3"

services:
  web:
    build:
      context: .
      dockerfile: docker/Dockerfile
    ports:
      - "8000:8000"
    command: gunicorn app.wsgi --bind=0.0.0.0:8000 --reload
    env_file:
        - .env
    depends_on:
      - db
    volumes:
      - .:/usr/src/app
  db:
    image: postgres
    environment:
        POSTGRES_USER: postgres
        POSTGRES_PASSWORD: postgres
        POSTGRES_DB: postgres
    volumes:
      - postgres:/var/lib/pgsql/data
    ports:
      - "5432:5432"
    restart: unless-stopped
volumes:
    postgres:
